.grid-flex-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* xs */
@media (min-width: 0px) {
    .gird-flex-container {
        width: 100%;
    }
}

/* sm */
@media (min-width: 576px) {
    .gird-flex-container {
        width: 540px;
    }
}

/* md */
@media (min-width: 768px) {
    .gird-flex-container {
        width: 720px;
    }
}

/* lg */
@media (min-width: 992px) {
    .gird-flex-container {
        width: 920px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .gird-flex-container {
        width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.col-xs, .col-sm, .col-md, .col-lg, .col-xl,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs {
    flex-basis: 0;
    flex-grow: 1;
}

.col-xs-1 {
    flex: 0 0 8.333333%;
}

.col-xs-2 {
    flex: 0 0 16.666667%;
}

.col-xs-3 {
    flex: 0 0 25%;
}

.col-xs-4 {
    flex: 0 0 33.333333%;
}

.col-xs-5 {
    flex: 0 0 41.666667%;
}

.col-xs-6 {
    flex: 0 0 50%;
}

.col-xs-7 {
    flex: 0 0 58.333333%;
}

.col-xs-8 {
    flex: 0 0 66.666667%;
}

.col-xs-9 {
    flex: 0 0 75%;
}

.col-xs-10 {
    flex: 0 0 83.333333%;
}

.col-xs-11 {
    flex: 0 0 91.666667%;
}

.col-xs-12 {
    flex: 0 0 100%;
}

/* offset */

.col-xs-offset-0 {
    margin-left: 0;
}

.col-xs-offset-1 {
    margin-left: 8.333333%;
}

.col-xs-offset-2 {
    margin-left: 16.666667%;
}

.col-xs-offset-3 {
    margin-left: 25%;
}

.col-xs-offset-4 {
    margin-left: 33.333333%;
}

.col-xs-offset-5 {
    margin-left: 41.666667%;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.col-xs-offset-7 {
    margin-left: 58.333333%;
}

.col-xs-offset-8 {
    margin-left: 66.666667%;
}

.col-xs-offset-9 {
    margin-left: 75%;
}

.col-xs-offset-10 {
    margin-left: 83.333333%;
}

.col-xs-offset-11 {
    margin-left: 91.666667%;
}

.col-xs-offset-12 {
    margin-left: 100%;
}

/* push */

.col-xs-push-0 {
    left: auto;
}

.col-xs-push-1 {
    left: 8.333333%;
}

.col-xs-push-2 {
    left: 16.666667%;
}

.col-xs-push-3 {
    left: 25%;
}

.col-xs-push-4 {
    left: 33.333333%;
}

.col-xs-push-5 {
    left: 41.666667%;
}

.col-xs-push-6 {
    left: 50%;
}

.col-xs-push-7 {
    left: 58.333333%;
}

.col-xs-push-8 {
    left: 66.666667%;
}

.col-xs-push-9 {
    left: 75%;
}

.col-xs-push-10 {
    left: 83.333333%;
}

.col-xs-push-11 {
    left: 91.666667%;
}

.col-xs-push-12 {
    left: 100%;
}

/* pull */

.col-xs-pull-0 {
    right: auto;
}

.col-xs-pull-1 {
    right: 8.333333%;
}

.col-xs-pull-2 {
    right: 16.666667%;
}

.col-xs-pull-3 {
    right: 25%;
}

.col-xs-pull-4 {
    right: 33.333333%;
}

.col-xs-pull-5 {
    right: 41.666667%;
}

.col-xs-pull-6 {
    right: 50%;
}

.col-xs-pull-7 {
    right: 58.333333%;
}

.col-xs-pull-8 {
    right: 66.666667%;
}

.col-xs-pull-9 {
    right: 75%;
}

.col-xs-pull-10 {
    right: 83.333333%;
}

.col-xs-pull-11 {
    right: 91.666667%;
}

.col-xs-pull-12 {
    right: 100%;
}

/* order */

.col-xs-order-first {
    order: -1;
}

.col-xs-order-0 {
    order: 0;
}

.col-xs-order-1 {
    order: 1;
}

.col-xs-order-2 {
    order: 2;
}

.col-xs-order-3 {
    order: 3;
}

.col-xs-order-4 {
    order: 4;
}

.col-xs-order-5 {
    order: 5;
}

.col-xs-order-6 {
    order: 6;
}

.col-xs-order-7 {
    order: 7;
}

.col-xs-order-8 {
    order: 8;
}

.col-xs-order-9 {
    order: 9;
}

.col-xs-order-10 {
    order: 10;
}

.col-xs-order-11 {
    order: 11;
}

.col-xs-order-12 {
    order: 12;
}

.col-xs-order-last {
    order: 13;
}

/* 显示 / 隐藏 */

.xs-display {
    display: none !important;
}

.xs-dont-display {
    display: block !important;
}

/* sm */
@media (min-width: 576px) {

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    
    .col-sm {
        flex-basis: 0;
        flex-grow: 1;
    }
    
    .col-sm-1 {
        flex: 0 0 8.333333%;
    }
    
    .col-sm-2 {
        flex: 0 0 16.666667%;
    }
    
    .col-sm-3 {
        flex: 0 0 25%;
    }
    
    .col-sm-4 {
        flex: 0 0 33.333333%;
    }
    
    .col-sm-5 {
        flex: 0 0 41.666667%;
    }
    
    .col-sm-6 {
        flex: 0 0 50%;
    }
    
    .col-sm-7 {
        flex: 0 0 58.333333%;
    }
    
    .col-sm-8 {
        flex: 0 0 66.666667%;
    }
    
    .col-sm-9 {
        flex: 0 0 75%;
    }
    
    .col-sm-10 {
        flex: 0 0 83.333333%;
    }
    
    .col-sm-11 {
        flex: 0 0 91.666667%;
    }
    
    .col-sm-12 {
        flex: 0 0 100%;
    }

    /* offset */

    .col-sm-offset-0 {
        margin-left: 0;
    }
    
    .col-sm-offset-1 {
        margin-left: 8.333333%;
    }
    
    .col-sm-offset-2 {
        margin-left: 16.666667%;
    }
    
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    
    .col-sm-offset-4 {
        margin-left: 33.333333%;
    }
    
    .col-sm-offset-5 {
        margin-left: 41.666667%;
    }
    
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    
    .col-sm-offset-7 {
        margin-left: 58.333333%;
    }
    
    .col-sm-offset-8 {
        margin-left: 66.666667%;
    }
    
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    
    .col-sm-offset-10 {
        margin-left: 83.333333%;
    }
    
    .col-sm-offset-11 {
        margin-left: 91.666667%;
    }
    
    .col-sm-offset-12 {
        margin-left: 100%;
    }

    /* push */
    
    .col-sm-push-0 {
        left: auto;
    }
    
    .col-sm-push-1 {
        left: 8.333333%;
    }
    
    .col-sm-push-2 {
        left: 16.666667%;
    }
    
    .col-sm-push-3 {
        left: 25%;
    }
    
    .col-sm-push-4 {
        left: 33.333333%;
    }
    
    .col-sm-push-5 {
        left: 41.666667%;
    }
    
    .col-sm-push-6 {
        left: 50%;
    }
    
    .col-sm-push-7 {
        left: 58.333333%;
    }
    
    .col-sm-push-8 {
        left: 66.666667%;
    }
    
    .col-sm-push-9 {
        left: 75%;
    }
    
    .col-sm-push-10 {
        left: 83.333333%;
    }
    
    .col-sm-push-11 {
        left: 91.666667%;
    }
    
    .col-sm-push-12 {
        left: 100%;
    }
    
    /* pull */
    
    .col-sm-pull-0 {
        right: auto;
    }
    
    .col-sm-pull-1 {
        right: 8.333333%;
    }
    
    .col-sm-pull-2 {
        right: 16.666667%;
    }
    
    .col-sm-pull-3 {
        right: 25%;
    }
    
    .col-sm-pull-4 {
        right: 33.333333%;
    }
    
    .col-sm-pull-5 {
        right: 41.666667%;
    }
    
    .col-sm-pull-6 {
        right: 50%;
    }
    
    .col-sm-pull-7 {
        right: 58.333333%;
    }
    
    .col-sm-pull-8 {
        right: 66.666667%;
    }
    
    .col-sm-pull-9 {
        right: 75%;
    }
    
    .col-sm-pull-10 {
        right: 83.333333%;
    }
    
    .col-sm-pull-11 {
        right: 91.666667%;
    }
    
    .col-sm-pull-12 {
        right: 100%;
    }

    /* order */
    
    .col-sm-order-first {
        order: -1;
    }
    
    .col-sm-order-0 {
        order: 0;
    }
    
    .col-sm-order-1 {
        order: 1;
    }
    
    .col-sm-order-2 {
        order: 2;
    }
    
    .col-sm-order-3 {
        order: 3;
    }
    
    .col-sm-order-4 {
        order: 4;
    }
    
    .col-sm-order-5 {
        order: 5;
    }
    
    .col-sm-order-6 {
        order: 6;
    }
    
    .col-sm-order-7 {
        order: 7;
    }
    
    .col-sm-order-8 {
        order: 8;
    }
    
    .col-sm-order-9 {
        order: 9;
    }
    
    .col-sm-order-10 {
        order: 10;
    }
    
    .col-sm-order-11 {
        order: 11;
    }
    
    .col-sm-order-12 {
        order: 12;
    }
    
    .col-sm-order-last {
        order: 13;
    }

    /* 显示 / 隐藏 */
    
    .sm-display {
        display: none !important;
    }
    
    .sm-dont-display {
        display: block !important;
    }
}

/* md */
@media (min-width: 768) {

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
    }
    
    .col-md-1 {
        flex: 0 0 8.333333%;
    }
    
    .col-md-2 {
        flex: 0 0 16.666667%;
    }
    
    .col-md-3 {
        flex: 0 0 25%;
    }
    
    .col-md-4 {
        flex: 0 0 33.333333%;
    }
    
    .col-md-5 {
        flex: 0 0 41.666667%;
    }
    
    .col-md-6 {
        flex: 0 0 50%;
    }
    
    .col-md-7 {
        flex: 0 0 58.333333%;
    }
    
    .col-md-8 {
        flex: 0 0 66.666667%;
    }
    
    .col-md-9 {
        flex: 0 0 75%;
    }
    
    .col-md-10 {
        flex: 0 0 83.333333%;
    }
    
    .col-md-11 {
        flex: 0 0 91.666667%;
    }
    
    .col-md-12 {
        flex: 0 0 100%;
    }

    /* offset */

    .col-md-offset-0 {
        margin-left: 0;
    }
    
    .col-md-offset-1 {
        margin-left: 8.333333%;
    }
    
    .col-md-offset-2 {
        margin-left: 16.666667%;
    }
    
    .col-md-offset-3 {
        margin-left: 25%;
    }
    
    .col-md-offset-4 {
        margin-left: 33.333333%;
    }
    
    .col-md-offset-5 {
        margin-left: 41.666667%;
    }
    
    .col-md-offset-6 {
        margin-left: 50%;
    }
    
    .col-md-offset-7 {
        margin-left: 58.333333%;
    }
    
    .col-md-offset-8 {
        margin-left: 66.666667%;
    }
    
    .col-md-offset-9 {
        margin-left: 75%;
    }
    
    .col-md-offset-10 {
        margin-left: 83.333333%;
    }
    
    .col-md-offset-11 {
        margin-left: 91.666667%;
    }
    
    .col-md-offset-12 {
        margin-left: 100%;
    }

    /* push */
    
    .col-md-push-0 {
        left: auto;
    }
    
    .col-md-push-1 {
        left: 8.333333%;
    }
    
    .col-md-push-2 {
        left: 16.666667%;
    }
    
    .col-md-push-3 {
        left: 25%;
    }
    
    .col-md-push-4 {
        left: 33.333333%;
    }
    
    .col-md-push-5 {
        left: 41.666667%;
    }
    
    .col-md-push-6 {
        left: 50%;
    }
    
    .col-md-push-7 {
        left: 58.333333%;
    }
    
    .col-md-push-8 {
        left: 66.666667%;
    }
    
    .col-md-push-9 {
        left: 75%;
    }
    
    .col-md-push-10 {
        left: 83.333333%;
    }
    
    .col-md-push-11 {
        left: 91.666667%;
    }
    
    .col-md-push-12 {
        left: 100%;
    }
    
    /* pull */
    
    .col-md-pull-0 {
        right: auto;
    }
    
    .col-md-pull-1 {
        right: 8.333333%;
    }
    
    .col-md-pull-2 {
        right: 16.666667%;
    }
    
    .col-md-pull-3 {
        right: 25%;
    }
    
    .col-md-pull-4 {
        right: 33.333333%;
    }
    
    .col-md-pull-5 {
        right: 41.666667%;
    }
    
    .col-md-pull-6 {
        right: 50%;
    }
    
    .col-md-pull-7 {
        right: 58.333333%;
    }
    
    .col-md-pull-8 {
        right: 66.666667%;
    }
    
    .col-md-pull-9 {
        right: 75%;
    }
    
    .col-md-pull-10 {
        right: 83.333333%;
    }
    
    .col-md-pull-11 {
        right: 91.666667%;
    }
    
    .col-md-pull-12 {
        right: 100%;
    }

    /* order */
    
    .col-md-order-first {
        order: -1;
    }
    
    .col-md-order-0 {
        order: 0;
    }
    
    .col-md-order-1 {
        order: 1;
    }
    
    .col-md-order-2 {
        order: 2;
    }
    
    .col-md-order-3 {
        order: 3;
    }
    
    .col-md-order-4 {
        order: 4;
    }
    
    .col-md-order-5 {
        order: 5;
    }
    
    .col-md-order-6 {
        order: 6;
    }
    
    .col-md-order-7 {
        order: 7;
    }
    
    .col-md-order-8 {
        order: 8;
    }
    
    .col-md-order-9 {
        order: 9;
    }
    
    .col-md-order-10 {
        order: 10;
    }
    
    .col-md-order-11 {
        order: 11;
    }
    
    .col-md-order-12 {
        order: 12;
    }
    
    .col-md-order-last {
        order: 13;
    }

    /* 显示 / 隐藏 */
    
    .md-display {
        display: none !important;
    }
    
    .md-dont-display {
        display: block !important;
    }
}

/* lg */
@media (min-width: 992px) {

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    
    .col-lg {
        flex-basis: 0;
        flex-grow: 1;
    }
    
    .col-lg-1 {
        flex: 0 0 8.333333%;
    }
    
    .col-lg-2 {
        flex: 0 0 16.666667%;
    }
    
    .col-lg-3 {
        flex: 0 0 25%;
    }
    
    .col-lg-4 {
        flex: 0 0 33.333333%;
    }
    
    .col-lg-5 {
        flex: 0 0 41.666667%;
    }
    
    .col-lg-6 {
        flex: 0 0 50%;
    }
    
    .col-lg-7 {
        flex: 0 0 58.333333%;
    }
    
    .col-lg-8 {
        flex: 0 0 66.666667%;
    }
    
    .col-lg-9 {
        flex: 0 0 75%;
    }
    
    .col-lg-10 {
        flex: 0 0 83.333333%;
    }
    
    .col-lg-11 {
        flex: 0 0 91.666667%;
    }
    
    .col-lg-12 {
        flex: 0 0 100%;
    }

    /* offset */

    .col-lg-offset-0 {
        margin-left: 0;
    }
    
    .col-lg-offset-1 {
        margin-left: 8.333333%;
    }
    
    .col-lg-offset-2 {
        margin-left: 16.666667%;
    }
    
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    
    .col-lg-offset-4 {
        margin-left: 33.333333%;
    }
    
    .col-lg-offset-5 {
        margin-left: 41.666667%;
    }
    
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    
    .col-lg-offset-7 {
        margin-left: 58.333333%;
    }
    
    .col-lg-offset-8 {
        margin-left: 66.666667%;
    }
    
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    
    .col-lg-offset-10 {
        margin-left: 83.333333%;
    }
    
    .col-lg-offset-11 {
        margin-left: 91.666667%;
    }
    
    .col-lg-offset-12 {
        margin-left: 100%;
    }

    /* push */
    
    .col-lg-push-0 {
        left: auto;
    }
    
    .col-lg-push-1 {
        left: 8.333333%;
    }
    
    .col-lg-push-2 {
        left: 16.666667%;
    }
    
    .col-lg-push-3 {
        left: 25%;
    }
    
    .col-lg-push-4 {
        left: 33.333333%;
    }
    
    .col-lg-push-5 {
        left: 41.666667%;
    }
    
    .col-lg-push-6 {
        left: 50%;
    }
    
    .col-lg-push-7 {
        left: 58.333333%;
    }
    
    .col-lg-push-8 {
        left: 66.666667%;
    }
    
    .col-lg-push-9 {
        left: 75%;
    }
    
    .col-lg-push-10 {
        left: 83.333333%;
    }
    
    .col-lg-push-11 {
        left: 91.666667%;
    }
    
    .col-lg-push-12 {
        left: 100%;
    }
    
    /* pull */
    
    .col-lg-pull-0 {
        right: auto;
    }
    
    .col-lg-pull-1 {
        right: 8.333333%;
    }
    
    .col-lg-pull-2 {
        right: 16.666667%;
    }
    
    .col-lg-pull-3 {
        right: 25%;
    }
    
    .col-lg-pull-4 {
        right: 33.333333%;
    }
    
    .col-lg-pull-5 {
        right: 41.666667%;
    }
    
    .col-lg-pull-6 {
        right: 50%;
    }
    
    .col-lg-pull-7 {
        right: 58.333333%;
    }
    
    .col-lg-pull-8 {
        right: 66.666667%;
    }
    
    .col-lg-pull-9 {
        right: 75%;
    }
    
    .col-lg-pull-10 {
        right: 83.333333%;
    }
    
    .col-lg-pull-11 {
        right: 91.666667%;
    }
    
    .col-lg-pull-12 {
        right: 100%;
    }

    /* order */
    
    .col-lg-order-first {
        order: -1;
    }
    
    .col-lg-order-0 {
        order: 0;
    }
    
    .col-lg-order-1 {
        order: 1;
    }
    
    .col-lg-order-2 {
        order: 2;
    }
    
    .col-lg-order-3 {
        order: 3;
    }
    
    .col-lg-order-4 {
        order: 4;
    }
    
    .col-lg-order-5 {
        order: 5;
    }
    
    .col-lg-order-6 {
        order: 6;
    }
    
    .col-lg-order-7 {
        order: 7;
    }
    
    .col-lg-order-8 {
        order: 8;
    }
    
    .col-lg-order-9 {
        order: 9;
    }
    
    .col-lg-order-10 {
        order: 10;
    }
    
    .col-lg-order-11 {
        order: 11;
    }
    
    .col-lg-order-12 {
        order: 12;
    }
    
    .col-lg-order-last {
        order: 13;
    }

    /* 显示 / 隐藏 */
    
    .lg-display {
        display: none !important;
    }
    
    .lg-dont-display {
        display: block !important;
    }
}

/* xl */
@media (min-width: 1200px) {

    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }
    
    .col-xl {
        flex-basis: 0;
        flex-grow: 1;
    }
    
    .col-xl-1 {
        flex: 0 0 8.333333%;
    }
    
    .col-xl-2 {
        flex: 0 0 16.666667%;
    }
    
    .col-xl-3 {
        flex: 0 0 25%;
    }
    
    .col-xl-4 {
        flex: 0 0 33.333333%;
    }
    
    .col-xl-5 {
        flex: 0 0 41.666667%;
    }
    
    .col-xl-6 {
        flex: 0 0 50%;
    }
    
    .col-xl-7 {
        flex: 0 0 58.333333%;
    }
    
    .col-xl-8 {
        flex: 0 0 66.666667%;
    }
    
    .col-xl-9 {
        flex: 0 0 75%;
    }
    
    .col-xl-10 {
        flex: 0 0 83.333333%;
    }
    
    .col-xl-11 {
        flex: 0 0 91.666667%;
    }
    
    .col-xl-12 {
        flex: 0 0 100%;
    }

    /* offset */

    .col-xl-offset-0 {
        margin-left: 0;
    }
    
    .col-xl-offset-1 {
        margin-left: 8.333333%;
    }
    
    .col-xl-offset-2 {
        margin-left: 16.666667%;
    }
    
    .col-xl-offset-3 {
        margin-left: 25%;
    }
    
    .col-xl-offset-4 {
        margin-left: 33.333333%;
    }
    
    .col-xl-offset-5 {
        margin-left: 41.666667%;
    }
    
    .col-xl-offset-6 {
        margin-left: 50%;
    }
    
    .col-xl-offset-7 {
        margin-left: 58.333333%;
    }
    
    .col-xl-offset-8 {
        margin-left: 66.666667%;
    }
    
    .col-xl-offset-9 {
        margin-left: 75%;
    }
    
    .col-xl-offset-10 {
        margin-left: 83.333333%;
    }
    
    .col-xl-offset-11 {
        margin-left: 91.666667%;
    }
    
    .col-xl-offset-12 {
        margin-left: 100%;
    }

    /* push */
    
    .col-xl-push-0 {
        left: auto;
    }
    
    .col-xl-push-1 {
        left: 8.333333%;
    }
    
    .col-xl-push-2 {
        left: 16.666667%;
    }
    
    .col-xl-push-3 {
        left: 25%;
    }
    
    .col-xl-push-4 {
        left: 33.333333%;
    }
    
    .col-xl-push-5 {
        left: 41.666667%;
    }
    
    .col-xl-push-6 {
        left: 50%;
    }
    
    .col-xl-push-7 {
        left: 58.333333%;
    }
    
    .col-xl-push-8 {
        left: 66.666667%;
    }
    
    .col-xl-push-9 {
        left: 75%;
    }
    
    .col-xl-push-10 {
        left: 83.333333%;
    }
    
    .col-xl-push-11 {
        left: 91.666667%;
    }
    
    .col-xl-push-12 {
        left: 100%;
    }
    
    /* pull */
    
    .col-xl-pull-0 {
        right: auto;
    }
    
    .col-xl-pull-1 {
        right: 8.333333%;
    }
    
    .col-xl-pull-2 {
        right: 16.666667%;
    }
    
    .col-xl-pull-3 {
        right: 25%;
    }
    
    .col-xl-pull-4 {
        right: 33.333333%;
    }
    
    .col-xl-pull-5 {
        right: 41.666667%;
    }
    
    .col-xl-pull-6 {
        right: 50%;
    }
    
    .col-xl-pull-7 {
        right: 58.333333%;
    }
    
    .col-xl-pull-8 {
        right: 66.666667%;
    }
    
    .col-xl-pull-9 {
        right: 75%;
    }
    
    .col-xl-pull-10 {
        right: 83.333333%;
    }
    
    .col-xl-pull-11 {
        right: 91.666667%;
    }
    
    .col-xl-pull-12 {
        right: 100%;
    }

    /* order */
    
    .col-xl-order-first {
        order: -1;
    }
    
    .col-xl-order-0 {
        order: 0;
    }
    
    .col-xl-order-1 {
        order: 1;
    }
    
    .col-xl-order-2 {
        order: 2;
    }
    
    .col-xl-order-3 {
        order: 3;
    }
    
    .col-xl-order-4 {
        order: 4;
    }
    
    .col-xl-order-5 {
        order: 5;
    }
    
    .col-xl-order-6 {
        order: 6;
    }
    
    .col-xl-order-7 {
        order: 7;
    }
    
    .col-xl-order-8 {
        order: 8;
    }
    
    .col-xl-order-9 {
        order: 9;
    }
    
    .col-xl-order-10 {
        order: 10;
    }
    
    .col-xl-order-11 {
        order: 11;
    }
    
    .col-xl-order-12 {
        order: 12;
    }
    
    .col-xl-order-last {
        order: 13;
    }

    /* 显示 / 隐藏 */
    
    .xl-display {
        display: none !important;
    }
    
    .xl-dont-display {
        display: block !important;
    }
}